.landing-page
{
    /*background-color: #a8614e;*/
    background-color: white;
}
.header-content
{
    font-size: 28px;
    font-family: Arial;
    text-align: left;
    padding-left: 29px;
    color: #000000;
    font-weight: bolder;
}
.paragraph-content
{
    font-size: 10px;
    font-family: Arial;
    text-align: left;
    padding-left: 9%;
    color: #000000;
    font-weight: bolder;
}
.buttons
{
    text-align: center;
    margin-top: 70px;
}
.sign-up
{
    /*background-color: #FFFFFF;*/
    background-color: #a8614e;;
    border: solid #FFFFFF;
    border-radius: 8px;
    color: #000000;
    font-weight: bold;
}
.login
{
    /*background-color: #FFFFFF;*/
    background-color: #a8614e;
    color: #000000;
    font-weight: bold;
    border: solid #FFFFFF;
    border-width: thin;
    border-radius: 8px;
}

