/*body{*/
    /*background-color: #C2B280;*/
/*}*/
.nav-guest{
    background-color: #33ffcc;
    color: #307d7e;
}
.nav-amount{
     font-weight: bold;
}

.panel-top{
    background-color: #33ffcc;
}

